<div class="container">
  <h2>Edit User</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onEdit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" id="firstName" class="form-control" formControlName="firstName">
      <div *ngIf="signupForm.get('firstName')?.invalid && signupForm.get('firstName')?.touched" class="danger">
        <span *ngIf="signupForm.get('firstName')?.hasError('required')">This field is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" id="lastName" class="form-control" formControlName="lastName">
      <div *ngIf="signupForm.get('lastName')?.invalid && signupForm.get('lastName')?.touched" class="danger">
        <span *ngIf="signupForm.get('lastName')?.hasError('required')">This field is required</span>
      </div>
    </div>
    <div class="form-group">
      <label for="speciality">Speciality:</label>
      <select id="speciality" class="form-control" formControlName="speciality">
        <option *ngFor="let speciality of specialities" [value]="speciality">{{ speciality }}</option>
      </select>
      <div *ngIf="signupForm.get('speciality')?.invalid && signupForm.get('speciality')?.touched" class="danger">
        <span *ngIf="signupForm.get('speciality')?.hasError('required')">This field is required</span>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">Edit</button>
  </form>
  <button (click)="toggleActivation()" class="btn btn-success">{{ buttonAction }}</button>
</div>
