<div class="about-container">
  <div class="container">
    <div class="top">
      <img src="assets/logo.jpeg" alt="" class="logo">
      <h1 class="head">mediQuick</h1>
    </div>
  </div>
  <p>
    mediQuick is dedicated to organizing hospitals in extreme conditions,
    ensuring rapid response and efficient management during critical times.
    Our mission is to streamline hospital operations, allowing medical staff
    to focus on what they do best - saving lives.
  </p>
  <h2>Our Founders</h2>
  <div class="container">
    <div class="founders">
      <div class="founder">
        <img src="assets/Alon.png" alt="" class="founder-image">
        <a><strong>Alon Elisha</strong>: An expert in hospital logistics with years of field experience. Alon’s journey
          began as a logistics officer in a renowned hospital where he was responsible for ensuring the smooth operation
          of the hospital’s supply chain. His dedication and attention to detail quickly set him apart. Over the years,
          Alon has developed innovative strategies to improve hospital logistics, making healthcare delivery more
          efficient. His passion for healthcare logistics is driven by his belief that efficient logistics is key to
          providing timely and effective healthcare.</a>
      </div>
      <div class="founder">
        <img src="assets/Amir.png" alt="" class="founder-image">
        <a><strong>Amir Peleg</strong>: A visionary leader with a passion for healthcare innovation. Amir has always
          been at the forefront of healthcare technology. With a background in biomedical engineering, he has a deep
          understanding of the intersection between healthcare and technology. Amir believes in leveraging technology to
          improve patient care and outcomes. His innovative thinking has led to the development of several
          groundbreaking healthcare solutions that have revolutionized the way healthcare is delivered.</a>
      </div>
      <div class="founder">
        <img src="assets/Yuval.png" alt="" class="founder-image">
        <a><strong>Yuval Nevo</strong>: A technology enthusiast committed to transforming medical infrastructure.
          Yuval’s fascination with technology began at a young age, and he has since dedicated his career to applying
          technology in the healthcare sector. He has a knack for identifying areas where technology can make a
          significant impact and has been instrumental in implementing technological solutions in hospitals across the
          country. Yuval’s commitment to transforming medical infrastructure stems from his desire to make healthcare
          more accessible and efficient.</a>
      </div>
    </div>
  </div>
  <p>
    Together, they combine their expertise to create a platform that adapts to the needs of hospitals facing the
    extraordinary, making mediQuick a trusted partner in healthcare crisis management. By leveraging technology and
    innovation, mediQuick aims to revolutionize the way hospitals operate in crisis situations. Our platform is designed
    with the needs of medical professionals in mind, ensuring they have the tools and resources they need to provide the
    best possible care to their patients. With mediQuick, hospitals can streamline their operations, reduce response
    times, and ultimately, save more lives. Our founders’ diverse backgrounds and shared vision for improved healthcare
    delivery continue to drive our commitment to innovation and excellence. As we look to the future, we remain
    dedicated to our mission of transforming healthcare through technology.
  </p>
</div>
