<div class="container">
  <h2 class="headline">טופס בחירת כלב</h2>
  <h5>מלא רק שדות שרלוונטים לך</h5>
  <form [formGroup]="dogForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="colour">צבע</label>
      <input type="text" id="colour" formControlName="colour">
    </div>
    <div class="form-group">
      <label for="breed">גזע</label>
      <input type="text" id="breed" formControlName="breed">
    </div>
    <div class="form-group">
      <label for="gender">מין</label>
      <select id="gender" formControlName="gender" class="form-control">
        <option value="male">זכר</option>
        <option value="female">נקבה</option>
      </select>
    </div>
    <div class="form-group">
      <label for="age">גיל</label>
      <select id="age" formControlName="age" class="form-control">
        <option value="puppy">גור ({{AGE_MAP.get('puppy')?.join('-')}})</option>
        <option value="young">צעיר ({{AGE_MAP.get('young')?.join('-')}})</option>
        <option value="adult">מבוגר ({{AGE_MAP.get('adult')?.join('-')}})</option>
      </select>
    </div>
    <div class="form-group">
      <label>
        <input type="checkbox" formControlName="hasBeenNeutered">
        מעוקרת/מסורס
      </label>
    </div>
    <button type="submit" class="btn btn-primary">שלח</button>
  </form>
</div>
