<h2>נסיעות</h2>

<div class="row">
  <div class="col-md-6">
    <h3>צור נסיעה חדשה</h3>
    <form [formGroup]="driveForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="dogId">כלב</label>
        <select id="dogId" name="dogId" formControlName="dogId" required class="form-control">
          <option *ngFor="let dog of dogs" [value]="dog.id">{{ dog.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="timeOfDeparture">זמן יציאה</label>
        <input type="datetime-local" id="timeOfDeparture" name="timeOfDeparture" formControlName="timeOfDeparture"
               required class="form-control"/>
      </div>
      <div class="form-group">
        <label for="source">מוצא</label>
        <input type="text" id="source" name="source" formControlName="source" required class="form-control"
               [ngClass]="{ 'is-invalid': driveForm.get('source')?.['invalid'] && driveForm.get('source')?.['touched'] }"/>
        <div class="invalid-feedback" *ngIf="driveForm.get('source')?.errors?.['required']">שדה זה הוא חובה</div>
        <div class="invalid-feedback" *ngIf="driveForm.get('source')?.errors?.['invalidLocation']">אנא הזן מיקום תקין בעברית</div>
      </div>
      <div class="form-group">
        <label for="destination">יעד</label>
        <input type="text" id="destination" name="destination" formControlName="destination" required class="form-control"
               [ngClass]="{ 'is-invalid': driveForm.get('destination')?.['invalid'] && driveForm.get('destination')?.['touched'] }"/>
        <div class="invalid-feedback" *ngIf="driveForm.get('destination')?.errors?.['required']">שדה זה הוא חובה</div>
        <div class="invalid-feedback" *ngIf="driveForm.get('destination')?.errors?.['invalidLocation']">אנא הזן מיקום תקין בעברית</div>
      </div>
      <button type="submit" class="btn btn-primary">צור נסיעה</button>
    </form>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-12">
    <h3>רשימת הנסיעות</h3>
    <table class="table">
      <thead>
      <tr>
        <th>כלב</th>
        <th>זמן יציאה</th>
        <th>מוצא</th>
        <th>יעד</th>
        <th>נהג</th>
        <th>פעולות</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let drive of drives">
        <td>{{ getRelevantDogName(drive.dogId) }}</td>
        <td>{{ drive.timeOfDeparture | date:'dd/MM/yyyy HH:mm' }}</td>
        <td>{{ drive.source }}</td>
        <td>{{ drive.destination }}</td>
        <td *ngIf="drive.userId">נהג: {{driverMap.get(drive.userId)}}</td>
        <td *ngIf="!drive.userId">-</td>
        <td>
          <button *ngIf="!drive.userId" class="btn btn-primary" (click)="onJoinDrive(drive)">הצטרף כנהג</button>
          <button *ngIf="user.isAdmin" class="btn btn-danger" (click)="onDeleteDrive(drive?.id ?? -1)">מחק נסיעה</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
