<form [formGroup]="adoptionForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="adoptionDate">תאריך אימוץ</label>
    <input type="date" id="adoptionDate" name="adoptionDate" formControlName="adoptionDate" required class="form-control">
  </div>

  <div class="form-group">
    <label for="dogId">כלב</label>
    <select id="dogId" name="dogId" formControlName="dogId" required class="form-control">
      <option *ngFor="let dog of dogs" [value]="dog.id">{{ dog.name }}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="adoptionForm.invalid">שלח</button>
</form>
