.random-fact-card {
  margin-top: 20px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: black;
}

.random-fact-card .card-body {
  padding: 20px;
}

.random-fact-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.random-fact-card .card-text {
  font-size: 1rem;
  direction: ltr;
}
