<div class="container">
  <div class="row">
    <div class="col-sm-4 mb-3" *ngFor="let dog of dogs">
      <div class="card">
        <img class="card-img-top dog-image" [src]="getDogImagePath(dog.breed)" alt="{{ dog.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ dog.name }}</h5>
          <form [formGroup]="dogForm" *ngIf="dog.isEditing" (ngSubmit)="saveDog(dog)">
            <div class="form-group">
              <label for="dogName">שם</label>
              <input type="text" id="dogName" formControlName="name" class="form-control" required>
              <div *ngIf="dogForm?.['controls']?.['name']?.invalid && dogForm?.['controls']?.['name']?.touched" class="text-danger">
                יש להזין שם תקין
              </div>
            </div>
            <div class="form-group">
              <label for="dogColour">צבע</label>
              <input type="text" id="dogColour" formControlName="colour" class="form-control">
            </div>
            <div class="form-group">
              <label for="breed">גזע</label>
              <select id="breed" formControlName="breed" class="form-control">
                <option *ngFor="let breed of BREEDS" [value]="breed">{{ breed }}</option>
              </select>
            </div>

            <div class="form-group">
              <label for="dogGender">מין</label>
              <select id="dogGender" formControlName="gender" class="form-control" required>
                <option value="male">זכר</option>
                <option value="female">נקבה</option>
              </select>
            </div>
            <div class="form-group">
              <label for="dogBirthday">תאריך לידה</label>
              <input type="date" id="dogBirthday" formControlName="birthday" class="form-control">
            </div>
            <div class="form-group">
              <label for="dogDateOfArrival">תאריך הגעה</label>
              <input type="date" id="dogDateOfArrival" formControlName="dateOfArrival" class="form-control">
            </div>
            <div class="form-group">
              <label for="dogLastVaccination">תאריך חיסון אחרון</label>
              <input type="date" id="dogLastVaccination" formControlName="lastVaccination" class="form-control">
            </div>
            <div class="form-group">
              <label for="hasBeenNeutered">מעוקרת/מסורס</label>
              <input type="checkbox" id="hasBeenNeutered" formControlName="hasBeenNeutered">
            </div>
            <div class="form-group">
              <label for="dogSicknesses">מחלות</label>
              <input type="text" id="dogSicknesses" formControlName="sicknesses" class="form-control">
              <div *ngIf="dogForm?.['controls']?.['sicknesses']?.invalid && dogForm?.['controls']?.['sicknesses']?.touched" class="text-danger">
                יש להזין מחלות תקינות
              </div>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="dogForm['invalid']">שמור</button>
            <button type="button" class="btn btn-secondary" (click)="cancelEdit(dog)">ביטול</button>
          </form>
          <div *ngIf="!dog.isEditing">
            <p class="card-subtitle mb-2 text-muted">{{dog.breed}}</p>
            <p class="card-text">גיל: {{calculateDogAge(dog.birthday)}}</p>
            <p class="card-text">צבע: {{dog.colour}}</p>
            <p class="card-text">תאריך חיסון אחרון: {{dog.lastVaccination | date:'dd/MM/y'}}</p>
            <p class="card-text">{{ dog.gender == 'male' ? 'זכר' : 'נקבה' }}</p>
            <p class="card-text">{{ dog.hasBeenNeutered ? 'מעוקרת/מסורס' : 'לא מעוקרת/מסורס' }}</p>
            <p class="card-text">{{ dog?.['sicknesses']?.join(', ') || 'אין מחלות' }}</p>
            <a *ngIf="isAdmin" class="btn btn-primary" (click)="editDog(dog)">עריכה</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
