@import '~bootstrap/dist/css/bootstrap.css';

body {
  font-family: Arial, sans-serif;
  background-color: #DDB6AC;
}

nav {
  background-color: #C6EFDD;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  background-color: #C6EFEF;
}

.nav-link.active {
  background-color: #f8b830;
}

button {
  margin: 0.5%;
}

.container {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 12px;
}

.danger {
  color: red;
}

card {
  border: 1px solid #ccc;
  border-radius: 4px;
  color:black;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
}

.card-body {
  padding: 10px;
  color:black;
}

.card-text {
  margin-bottom: 5px;
}

.head {
  font-size: 72px;
  font-weight: bold;
}

h1, h2, h3 {
  font-weight: bolder;
}

input {
  width: 100%;
  border: 1px solid #ccd;
  border-radius: 5px;
  padding: 7px;
}

.btn {
  margin-right: 5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
